@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap');
body{
font-family: 'Mulish',sans-serif;
}
h1{
font-weight: 900;
font-size: 80px;
color: #0a2ff1

}
p, ul{
   font-weight: 400;
   font-size: 40px;
   color: #04146c; 
}
p{
    width: 60%
}
div{
   width: 50%; 
}
main{
    display: flex;
    justify-content:space-around;
    align-items:flex-end;
    
}
.sugerences{
    font-weight: 700;
    width: 300px;
    height: 50px;
    text-align: center;
    background-color: #04146c;
    color: white;
    font-size: 24px;
    left: 84%;
    position: fixed;
    top: 200px;
    line-height: 50px;
}
img {
    width:70%;

}