@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap');
body{
font-family: 'Mulish',sans-serif;
}
h1{
    font-weight: 900;
    font-size: 120px ;
    color: #ffffff;
}
input { 
    color: #414166;
    background-color: white;
    border-radius: 15px;
    padding: 1em;
    width:700px;
    height: 50px;
    font-size: 38px;
      }

header {
    position: relative; 
    display: flex; 
    justify-content: center; 
    align-items: center;
       }
video{ 
    position: absolute; 
    z-index: -2;
    max-width: 100%; 
    height: auto;
     }

div { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100%;  
    }
